# SCC-ICMC-USP - 2º Semestre de 2023
## SCC0275 - Introdução à Ciência de Dados
### Professora: Roseli A. F. Romero
### Monitor: Roseval Malaquias Jr

### **Exercício 3**

**Número do Grupo:**

**Alunos:**
1. List item
2. List item

Nesta atividade, nosso objetivo é exercitar os seguintes conceitos:
- Manuseio e exploração de datasets utilizando a biblioteca `pandas`;
- Análise de variância e sua interpretação para a limpeza de datasets;
- Utilização de métodos de imputação de valores faltantes com a biblioteca `scikit-learn`;
- Transformação de variáveis utilizando a biblioteca `scikit-learn`;

---

Para os exercícios de **1** a **5**, utilizaremos o dataset **titanic.csv**. A célula de código a seguir realizará o download deste dataset para o ambiente virtual do Google Colab.

In [1]:
# Download do dataset para o ambiente virtual.
!wget -O titanic.csv "https://drive.google.com/uc?export=download&id=1agkXL_AlnzqjrPKIPwJy01Bkh17GUW-3"

--2023-09-21 17:20:55--  https://drive.google.com/uc?export=download&id=1agkXL_AlnzqjrPKIPwJy01Bkh17GUW-3
Resolving drive.google.com (drive.google.com)... 142.251.167.100, 142.251.167.139, 142.251.167.101, ...
Connecting to drive.google.com (drive.google.com)|142.251.167.100|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0s-a0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/kkqvadi6nkm9ok2baea6no301qtbtss3/1695316800000/17263126637575785733/*/1agkXL_AlnzqjrPKIPwJy01Bkh17GUW-3?e=download&uuid=f2b4d8ac-5bb4-4e29-addb-e5fe92e40624 [following]
Warning: wildcards not supported in HTTP.
--2023-09-21 17:20:55--  https://doc-0s-a0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/kkqvadi6nkm9ok2baea6no301qtbtss3/1695316800000/17263126637575785733/*/1agkXL_AlnzqjrPKIPwJy01Bkh17GUW-3?e=download&uuid=f2b4d8ac-5bb4-4e29-addb-e5fe92e40624
Resolving doc-0s-a0-docs.googleusercontent.com (doc-0s-a0-docs.googleusercontent.com)... 142.251.16.132, 2607:f8b0:4004:c08::84
Connecting to doc-0s-a0-docs.googleusercontent.com (doc-0s-a0-docs.googleusercontent.com)|142.251.16.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61194 (60K) [text/csv]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  59.76K  --.-KB/s    in 0.01s

2023-09-21 17:20:56 (4.78 MB/s) - ‘titanic.csv’ saved [61194/61194]

## Dataset **titanic.csv**

In [34]:
import pandas as pd
import seaborn as sns
import sklearn as sk

dtset = pd.read_csv('titanic.csv')

---
### Questão 01.

Carregue o dataset **titanic.csv** (`pandas.read_csv`) e interprete os valores ausentes corretamente. Utilize o parâmetro `na_values='?'`.

In [ ]:
dtset =  pd.read_csv('titanic.csv')

---
### Questão 02.
Realize uma análise exploratória inicial do dataset fornecido.

Para isso, você deve:

 - Apresente a quantidade de valores faltantes para cada variável do dataset.
 - Identifique o tipo de dado de cada uma das variáveis (se são numéricas ou categóricas). Pode-se induzir o tipo real das variáveis utilizando o nome delas e seus valores, ou acessar um [dicionário do dataset online](https://www.codingninjas.com/studio/library/intro-to-titanic-dataset-and-data-analysis).
 - Corrija os tipos das variáveis no dataframe pandas criado.

  **ATENÇÃO: O pandas pode importar as variáveis com os tipos incorretos!**

In [35]:
print(dtset.isnull().sum())
print(dtset.dtypes)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object



---

### Questão 03.

Realize o pré-processamento do dataset fornecido.

Para isso, você deve:


-   **Para as variáveis numéricas:** substitua os valores faltantes utilizando a estratégia de **mediana** (`sklearn.impute.SimpleImputer`). Depois, **normalize** as variáveis (`sklearn.preprocessing.MinMaxScaler`).
-   **Para as variáveis categóricas:** substitua os valores faltantes utilizando a estratégia de **mais frequentes** (`sklearn.impute.SimpleImputer`). Depois, converta os dados categóricos para uma representação numérica, utilizando a codificação **Label Encoding** (`sklearn.preprocessing.LabelEncoder`).

Por fim, apresente os resultados, comprovando que a imputação e transformações foram feitas corretamente.

In [36]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')

col_num = dtset.select_dtypes(include=['number']).columns

imputer.fit_transform(dtset[col_num])

dtset[col_num] = imputer.transform(dtset[col_num])

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(dtset[col_num])

dtset[col_num] = scaler.transform(dtset[col_num])

#-----/\ númericas. \/ categóricas -----------------------------

imputer2 = SimpleImputer(strategy='most_frequent')

col_char = dtset.select_dtypes(include=['category', 'object']).columns

imputer2.fit(dtset[col_char])

dtset[col_char] = imputer2.transform(dtset[col_char])

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

dtset[col_char] = dtset[col_char].apply(encoder.fit_transform)

print(dtset.dtypes)

PassengerId    float64
Survived       float64
Pclass         float64
Name             int64
Sex              int64
Age            float64
SibSp          float64
Parch          float64
Ticket           int64
Fare           float64
Cabin            int64
Embarked         int64
dtype: object

In [24]:
print(dtset)

     PassengerId  Survived  Pclass  Name  Sex       Age  SibSp     Parch  \
0       0.000000       0.0     1.0   108    1  0.271174  0.125  0.000000
1       0.001124       1.0     0.0   190    0  0.472229  0.125  0.000000
2       0.002247       1.0     1.0   353    0  0.321438  0.000  0.000000
3       0.003371       1.0     0.0   272    0  0.434531  0.125  0.000000
4       0.004494       0.0     1.0    15    1  0.434531  0.000  0.000000
..           ...       ...     ...   ...  ...       ...    ...       ...
886     0.995506       0.0     0.5   548    1  0.334004  0.000  0.000000
887     0.996629       1.0     0.0   303    0  0.233476  0.000  0.000000
888     0.997753       0.0     1.0   413    0  0.367921  0.125  0.333333
889     0.998876       1.0     0.0    81    1  0.321438  0.000  0.000000
890     1.000000       0.0     1.0   220    1  0.396833  0.000  0.000000

     Ticket      Fare  Cabin  Embarked
0       523  0.014151     47         2
1       596  0.139136     81         0
2       669  0.015469     47         2
3        49  0.103644     55         2
4       472  0.015713     47         2
..      ...       ...    ...       ...
886     101  0.025374     47         2
887      14  0.058556     30         2
888     675  0.045771     47         2
889       8  0.058556     60         0
890     466  0.015127     47         1

[891 rows x 12 columns]



---

### Questão 04.

Neste conjunto de dados, entre as variáveis tem alguma que tem outliers? Se sim, indique-os.

In [ ]:
import matplotlib.pyplot as plt



---

### Questão 05.

Determine as 3 variáveis categóricas com maior variância (`pandas.DataFrame.var`).

Por que seria difícil extrair conhecimento destas 3 variáveis?

> Lembre-se que após realizar a transformação das variáveis categóricas com codificação Label Encoding, essas variáveis tornaram-se do tipo numérico para o pandas. Contudo, **o conhecimento representado por elas ainda é categórico!**

In [39]:
variancias = dtset.var()

top_variancias = variancias.sort_values(ascending=False).head(3)

print(top_variancias)

Name      66231.000000
Ticket    40340.986540
Cabin       555.464442
dtype: float64



---

### Questão 06.

Com as 3 varíaveis identificadas na questão anterior, crie um novo dataset que não contenha essas 3 váriaveis.

Apresente as 5 primeiras linhas do novo dataset criado.

In [40]:
data_novo=dtset.drop(columns=top_variancias.index)
print(data_novo.head())

   PassengerId  Survived  Pclass  Sex       Age  SibSp  Parch      Fare  \
0     0.000000       0.0     1.0    1  0.271174  0.125    0.0  0.014151
1     0.001124       1.0     0.0    0  0.472229  0.125    0.0  0.139136
2     0.002247       1.0     1.0    0  0.321438  0.000    0.0  0.015469
3     0.003371       1.0     0.0    0  0.434531  0.125    0.0  0.103644
4     0.004494       0.0     1.0    1  0.434531  0.000    0.0  0.015713

   Embarked
0         2
1         0
2         2
3         2
4         2